header {
    /* height: 100px; */
    /* width: 100%; */
    /* border: solid; */
    font-family: 'Petit Formal Script', cursive;
    color: rgb(209, 32, 209);
  
}

div.left{
   background-color: rgb(232, 206, 240, .4);
}

div.middle{
   background-color: rgba(213, 181, 223, 0.4);
}

div.right{
 background-color: rgb(232, 206, 240, .4);
}

img{
    width: 100%;
   height: 600px;
}

body {
    background: url('image/bg.jpg') no-repeat center center fixed;
}



div.flavorList{
   font-family: 'Satisfy', cursive;
   color: rgb(255, 107, 8);
   font-size: 20px;
}

h4{
color: rgb(43, 22, 43)
}

div#reviews{
 font-family: 'Satisfy', cursive;
 color: rgb(41, 27, 233);
 font-size: 30px;
}


button#purchaseButton.btn.btn-secondary{
    color:rgb(208, 255, 0);  
}

h2{
    margin-left: 20px;
}


