header {
    height: 100px;
    width: 100%;
    border: solid;
    font-family: 'Petit Formal Script', cursive;
    color: rgb(209, 32, 209);
}

div.left{
    border: solid;
}

div.middle{
    border: solid;
}

div.right{
  border: solid;
}

img{
    width: 300x;
    height: 300px;
}

body {
    background-image: url('image/bg.jpg');
}